/*

*/

.version.index /* version checker */
{
	color: #000007;
	background-color: #1ABDB9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -18px;
	width: 0.01px;
}

#first
{
	margin-left: 458px;
	position: relative;
}

#u316
{
	z-index: 32;
	min-height: 68px;
	background-color: transparent;
	padding-bottom: 32px;
}

#u209
{
	z-index: 52;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 200px;
}

#u353-4
{
	z-index: 48;
	width: 180px;
	min-height: 25px;
	background-color: transparent;
	color: #3D71BD;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 820px;
}

#u316-bw
{
	z-index: 32;
	min-height: 68px;
}

#pu409
{
	width: 0.01px;
	margin-left: -257px;
}

#u409
{
	z-index: 55;
	width: 157px;
	min-height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 422px;
}

#u321
{
	z-index: 62;
	min-height: 580px;
	background: transparent url("../images/bg.jpg") no-repeat center center;
	background-size: cover;
}

#u321_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
	padding-top: 155px;
	padding-bottom: 165px;
}

#u230-6
{
	z-index: 63;
	width: 460px;
	min-height: 190px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: '__Textbook New_5';
	font-weight: 400;
	left: 200px;
	position: relative;
}

#u230-2
{
	font-size: 48px;
	line-height: 58px;
	padding-bottom: 20px;
}

#pu254
{
	width: 0.01px;
	left: 200px;
	margin-top: 20px;
	position: relative;
}

#u254
{
	z-index: 69;
	width: 170px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/%d0%be%d1%82%d0%ba%d1%80%d1%8b%d1%82%d1%8c-standart.png") no-repeat left top;
	background-size: contain;
}

#u254:hover
{
	width: 170px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/%d0%be%d1%82%d0%ba%d1%80%d1%8b%d1%82%d1%8c-overlay.png") no-repeat left top;
	background-size: contain;
}

#u254:active
{
	width: 170px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/%d0%be%d1%82%d0%ba%d1%80%d1%8b%d1%82%d1%8c-pressed.png") no-repeat left top;
	background-size: contain;
}

#u286
{
	z-index: 70;
	width: 200px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 189px;
	background: transparent url("../images/%d1%83%d0%b7%d0%bd%d0%b0%d1%82%d1%8c-standart.png") no-repeat left top;
	background-size: contain;
}

#u286:hover
{
	width: 200px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/%d1%83%d0%b7%d0%bd%d0%b0%d1%82%d1%8c-overlay.png") no-repeat left top;
	background-size: contain;
}

#u286:active
{
	width: 200px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/%d1%83%d0%b7%d0%bd%d0%b0%d1%82%d1%8c-pressed.png") no-repeat left top;
	background-size: contain;
}

#u321-bw
{
	z-index: 62;
	min-height: 580px;
}

#pu475
{
	width: 0.01px;
	padding-bottom: 478px;
	margin-left: 658px;
	margin-top: -569px;
}

#u475
{
	z-index: 29;
	width: 242px;
	background-color: transparent;
	position: fixed;
	top: 111px;
	left: 50%;
	margin-left: 168px;
}

#u225
{
	z-index: 31;
	width: 220px;
	height: 390px;
	background-color: transparent;
	position: fixed;
	top: 152px;
	left: 50%;
	margin-left: 180px;
}

#U464_animation
{
	width: 220px;
	height: 390px;
	border: none;
}

#u315
{
	z-index: 2;
	min-height: 670px;
	background: #7F7F7F url("../images/127558.jpg") no-repeat left top;
	background-size: cover;
}

#u315_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
	padding-bottom: 313px;
}

#second
{
	left: 478px;
	position: relative;
}

#u314-6
{
	z-index: 10;
	width: 380px;
	min-height: 100px;
	background-color: transparent;
	color: #000000;
	font-family: '__Textbook New_5';
	font-weight: 400;
	left: 200px;
	margin-top: 239px;
	position: relative;
}

#u315-bw
{
	z-index: 2;
	min-height: 670px;
}

#third
{
	margin-left: 468px;
	position: relative;
}

#u319-6
{
	z-index: 4;
	width: 300px;
	min-height: 217px;
	background-color: transparent;
	color: #000000;
	font-family: '__Textbook New_5';
	font-weight: 400;
	margin-left: 100px;
	margin-top: 248px;
	position: relative;
}

#u319-4
{
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 20px;
}

#u318
{
	z-index: 3;
	min-height: 433px;
	padding-bottom: 237px;
	background: #7F7F7F url("../images/127558.jpg") no-repeat center center;
	background-size: cover;
}

#u320-6
{
	z-index: 33;
	width: 300px;
	min-height: 173px;
	background-color: transparent;
	color: #000000;
	font-family: '__Textbook New_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 200px;
}

#fourth
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 573px;
}

#u318-bw
{
	z-index: 3;
	min-height: 433px;
	margin-top: 187px;
}

#fifth
{
	margin-left: 450px;
	position: relative;
}

#u333-4
{
	z-index: 44;
	width: 380px;
	min-height: 110px;
	background-color: transparent;
	color: #000000;
	font-size: 36px;
	line-height: 43px;
	font-family: '__Textbook New_5';
	font-weight: 400;
	margin-left: 100px;
	margin-top: 265px;
	position: relative;
}

#u333-2
{
	padding-bottom: 20px;
}

#pu329-6
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 277px;
}

#u329-6
{
	z-index: 16;
	width: 500px;
	min-height: 130px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-family: '__Textbook New_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 180px;
}

#u314-2,#u319-2,#u320-2,#u329-2
{
	font-size: 36px;
	line-height: 43px;
	padding-bottom: 20px;
}

#u328
{
	z-index: 22;
	min-height: 447px;
	padding-bottom: 223px;
	background: #7F7F7F url("../images/127558.jpg") no-repeat center center;
	background-size: cover;
}

#u334-6
{
	z-index: 23;
	width: 325px;
	min-height: 183px;
	background-color: transparent;
	color: #000000;
	font-family: '__Textbook New_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 200px;
}

#u334-2
{
	font-size: 36px;
	line-height: 43px;
	text-indent: -15px;
	padding-bottom: 20px;
}

#u230-4,#u314-4,#u320-4,#u329-4,#u334-4
{
	font-size: 18px;
	line-height: 22px;
}

#six
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 544px;
}

#u328-bw
{
	z-index: 22;
	min-height: 447px;
}

#pu330
{
	width: 0.01px;
	margin-left: -100px;
}

#u330
{
	z-index: 39;
	min-height: 659.6999999999998px;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u316_align_to_page,#u318_align_to_page,#u328_align_to_page,#u330_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
}

#u330_position_content
{
	padding-bottom: 72px;
}

#seven
{
	left: 440px;
	position: relative;
}

#u331-4
{
	z-index: 40;
	width: 500px;
	min-height: 60px;
	background-color: transparent;
	color: #000000;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	font-family: '__Textbook New_5';
	font-weight: 400;
	left: 340px;
	margin-top: 48px;
	position: relative;
}

#u514
{
	z-index: 71;
	width: 1041px;
	background-color: transparent;
	left: 69px;
	margin-top: 10px;
	position: relative;
}

#u330-bw
{
	z-index: 39;
	min-height: 659.6999999999998px;
}

#u347
{
	z-index: 73;
	width: 955px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 588px;
	left: 112px;
}

@font-face
{
	font-family: '__Textbook New_5';
	src: url('../fonts/textbooknew-regular.eot');
	src: local('☺'), url('../fonts/textbooknew-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

